.box-1 {
  flex: 1;
  height: 500px;
  justify-content: center;
  align-items: center;
}
.box-2 {
  flex: 2;
  height: 500px;
}
.container {
  display: flex;
}
@media (max-width: 400px) {
  .container {
    height: 500px;
    flex-direction: column;
  }
}
.degular {
  font-family: "degular-variable", sans-serif;
  font-variation-settings: "ital" 0, "wght" 300, "opsz" 6;
  color: #364a1f;
  font-size: larger;
}
.degular-bold {
  font-family: "degular-variable", sans-serif;
  font-variation-settings: "ital" 0, "wght" 600, "opsz" 6;
  color: #364a1f;
  font-size: larger;
}
.gyst {
  font-family: "gyst-variable", sans-serif;
  font-variation-settings: "wght" 600;
  color: #73243a;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #73243a;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.responsive {
  width: 80%;
  max-width: 389px;
  height: auto;
}
/* Style the navigation menu */
.navbar {
  width: 100%;
  background-color: #fefff6;
  overflow: auto;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: rgb(120, 32, 32);
  text-decoration: dotted;
  font-size: 36px;
  width: 33.33%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #fefff6;
}

/* Style the current/active link */
.navbar a.active {
  background-color: #04aa6d;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: left;
    display: contents;
    width: 50%;
    text-align: center; /* If you want the text to be left-aligned on small screens */
  }
}
.green,
.hover-green:hover {
  color: #749978 !important;
  background-color: #fefff6 !important;
}
